
<% layout("/layouts/boilerplate") -%>
<body>
    <h3> Create new Listing:</h3>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
    <form method="post"   action="/listings/create" class="needs-validation"  novalidate  enctype="multipart/form-data">

      <div class="mb-3">
        <label for="tittle" class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Enter title" name="Listing[title]" required>
        <div class="invalid-feedback">
     please enter Title
        </div>
      </div>
      
      <div class="mb-3">
        <label for="decription" class="form-label">Decription</label>
        <textarea name="Listing[description]" class="form-control"required placeholder="Enter decription"></textarea>
        <div class="invalid-feedback">
    please enter shot decription
            </div>
      </div>
       
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input  name="Listing[image]" type="file" required  class="form-control"  >
required
    </div>
    <div class="row ">
        <div class="mb-3 col-md-4"> 
        
            <label for="price" class="form-label" >Price</label>
            <input name="Listing[price]" class="form-control"  placeholder="Enter price" type="number"  required >
            <div class="invalid-feedback">
              Price should be valid
                </div>
        </div>
       <div class="mb-3 col-md-8"> 
        <label for="location" class="form-label">Location</label>
        <input  name="Listing[location]"class="form-control"  placeholder="Enter  location" type="text" required>
        <div class="invalid-feedback">
         Location should be valid
           </div>
      </div>
    </div>
   <div class="mb-3">
    <label for="country" class="form-label"> Country</label>
    <input name="Listing[country]"class="form-control" placeholder="Enter country" required>
    <div class="invalid-feedback">
      country should be valid
        </div>
   </div>
       <button class="btn btn-dark add-btn">add</button>
    </form>
    <br><br>
</div>
</div>
</body>